
// Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext,latin-ext');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import '~element-ui/lib/theme-chalk/index.css';

html {
    font-size: 62.5%;
    @media only screen and (max-width: 1440px) {
        font-size: 58%;
    }
    @media only screen and (max-width: 1280px) {
        font-size: 55%;
    }
}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-size: 2rem;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.el-radio-group, .el-checkbox-group{
    margin-bottom: 20px;
    &__vertical {
        display: block;
        .el-checkbox-button, .el-radio-button {
            display: block;
            &:first-child {
                .el-radio-button__inner, .el-checkbox-button__inner{
                    border-radius: 4px 4px 0 0;
                }
            }
            &:last-child{
                .el-radio-button__inner, .el-checkbox-button__inner {
                    border-radius: 0 0 4px 4px;
                    border: 1px solid #dcdfe6;
                }
            }
            &__inner {
                border: 1px solid #dcdfe6;
                border-radius: 0;
                width: 100%;
                text-align: left;
                border-bottom: 0;

            }
        }
    }
}

.el-radio-button__inner, .el-checkbox-button__inner{
    padding: 0.8rem 1.4rem;
    line-height: 1.3;
}

.el-tabs__item, .el-table, .el-radio-button__inner, .el-checkbox-button__inner{
    font-size: 1.6rem;
    white-space: normal;
}
.el-input, .el-table {
    margin-bottom: 20px;
}
.el-table {
    .el-radio-group, .el-checkbox-group{
        margin-bottom: 0;
    }
    .cell {
        word-break: normal;
        line-height: 1.3;
    }
    td {
        padding: 1rem 0;
        border: none;
    }
}
.answered-question {
    color: #03b90b;
    font-weight: bold;
}
.el-radio-button__orig-radio:disabled:checked+.el-radio-button__inner {
    background-color: #3a8ee6;
    color: #fff;
}
