<template>
    <div>
        <el-tabs v-model="activeQuestion" @tab-click="handleClick">
            <el-tab-pane v-for="(quest, i) in questions"
                         :label="i+1+''"
                         :name="i+1+''"
                         :key="i+1">
                <span slot="label" :class="isComplete(quest) ? 'answered-question' : ''">{{i+1+''}}</span>
                <h1>{{quest.text}}</h1>
                <el-radio-group
                                class="el-radio-group__vertical"
                                v-model="questionsWithAnswersData[quest.id]"
                               >
                    <el-radio-button v-for="answ in quest.answers"
                                     :label="answ.id"
                                     :key="answ.id">
                        {{answ.text}}
                    </el-radio-button>
                </el-radio-group>
            </el-tab-pane>
        </el-tabs>
        <el-button type="primary" @click="postPollingResult" v-if="showCompleteTest">Завершить тестирование</el-button>
    </div>
</template>

<script>
    export default {
        props: {
            questions: Array,
            questionsWithAnswers: Object,
        },
        data() {
            return {
                activeQuestion: '1',
                questionsWithAnswersData: {},
                questionsWithUniqueAnswers: {},
            };
        },

        mounted() {
            this.questionsWithAnswersData = this.questionsWithAnswers;
        },

        computed: {
            showCompleteTest() {
                let res = true;
                for (let key in this.questionsWithAnswersData) {
                    res = res && this.isAnsweredById(key);


                    if  (!res) {
                        return false;
                    }
                }
                return res;
            },
        },

        methods: {

            isComplete(quest) {
                if (this.isAnsweredById(quest.id)) {
                    return true;
                }
                return false;
            },

            isAnsweredById(key) {
                if (!this.questionsWithAnswersData.hasOwnProperty(key)) {
                    return false;
                }

                if (
                    this.questionsWithAnswersData[key] === 0 ||
                    ((this.questionsWithAnswersData[key] instanceof Array) &&
                        this.questionsWithAnswersData[key].length === 0)
                ) {
                    return false;
                }

                return true;
            },

            handleClick() {
                axios.post('/postAnswer', {
                    polling: this.questionsWithAnswersData,
                    others: this.questionsWithOtherText,
                });
            },

            postPollingResult() {
                axios.post('/decline', {
                    polling: this.questionsWithAnswersData,
                    others: this.questionsWithOtherText,
                }).then(
                    (response) => {
                        // console.log(response.data.redirectUrl);
                        window.location = response.data.redirectUrl;
                    }
                ).catch((error) => {
                    this.$notify({
                        title: 'Ошибка',
                        message: error.response.data.error,
                        type: 'error'
                    });
                });
            },
        }
    }
</script>
