<template>
    <div>
            <el-tabs v-model="activeQuestion" @tab-click="handleClick">
                <el-tab-pane v-for="(quest, i) in questions"
                             :label="i+1+''"
                             :name="i+1+''"
                             :key="i+1"
                             v-if="hideSecondQuestion(quest.id) || hideQ17(quest.id) || hideQ16(quest.id)">
                    <span slot="label" :class="isComplete(quest) ? 'answered-question' : ''">{{i+1+''}}</span>
                    <h1>{{quest.text}}</h1>
                    <div class="el-table el-table--fit" style="width: 100%;"
                         v-if="quest.answers.length === 0 && quest.children.length > 0">
                        <div class="el-table__body-wrapper is-scrolling-none">
                            <table class="el-table__body" style="width: 100%" cellspacing="0" cellpadding="0" border="0" >
                                <colgroup>
                                    <col name="el-table_3_column_7" width="40%">
                                    <col name="el-table_3_column_8" width="60%">
                                </colgroup>
                                <tbody>
                                <tr class="el-table__row"
                                    v-for="child in quest.children">
                                    <td class="el-table_3_column_7  ">
                                        <div class="cell"><b>{{child.text}}</b></div>
                                    </td>
                                    <td class="el-table_3_column_8  ">
                                        <div class="cell">
                                            <el-radio-group v-model="questionsWithAnswersData[child.id]"
                                                            @change="subQuestAnswerChanged(quest.id, child)">
                                                <el-radio-button v-for="answ in child.answers"
                                                                 :label="answ.id"
                                                                 :key="answ.id"
                                                                 :disabled="isAnswerDisabled(quest.id, answ.id)">
                                                    {{answ.text}}
                                                </el-radio-button>
                                            </el-radio-group>
                                            <el-button v-if="inNoDuplicateQuestions(quest.id)"
                                                       type="primary" size="mini"
                                                       icon="el-icon-close" circle
                                                       @click="deleteUniqueAnswer(quest.id, child.id)"></el-button>

                                            <el-input v-if="questionsWithOtherText.hasOwnProperty(child.id)"
                                                      v-model="questionsWithOtherText[child.id]" placeholder="Другое" ></el-input>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="el-table__column-resize-proxy" style="display: none;"></div>
                        </div>
                    </div>
                    <template v-else>
                        <el-checkbox-group v-if="quest.answersCount > 1"
                                           class="el-checkbox-group__vertical"
                                           v-model="questionsWithAnswersData[quest.id]"
                                           :min="1"
                                           :max="quest.answersCount"
                                           @change="answerChanged(quest)">
                            <el-checkbox-button v-for="answ in quest.answers"
                                                :label="answ.id"
                                                :key="answ.id">
                                {{answ.text}}
                            </el-checkbox-button>
                        </el-checkbox-group>
                        <el-radio-group v-else
                                        class="el-radio-group__vertical"
                                        v-model="questionsWithAnswersData[quest.id]"
                                        @change="answerChanged(quest)">
                            <el-radio-button v-for="answ in quest.answers"
                                             :label="answ.id"
                                             :key="answ.id">
                                {{answ.text}}
                            </el-radio-button>
                        </el-radio-group>
                        <el-input v-if="questionsWithOtherText.hasOwnProperty(quest.id)"
                                  v-model="questionsWithOtherText[quest.id]" placeholder="Введите ответ" ></el-input>
                    </template>
                </el-tab-pane>
            </el-tabs>
            <el-button type="primary" @click="postPollingResult" v-if="showCompleteProp || showCompleteTest">Завершить тестирование</el-button>
            <el-button type="primary" @click="nextQuestion" v-else>Следующий вопрос</el-button>
        </div>
</template>

<script>
    export default {
        props: {
            questions: Array,
            questionsWithAnswers: Object,
            questionsWithOther: Object,
            otherAnswerIds: Array,
            newPolling: Boolean,
            specialAnswerIds: Array,
            q16Ids: Array,
        },
        data() {
            return {
                activeQuestion: '1',
                questionsWithAnswersData: {},
                questionsWithOtherText: {},
                newPollingData: true,
                questionsWithUniqueAnswers: {},
                // noDuplicateQuestions: [3],
                // goToThirdAnswers: [3, 5],
                // secondQuestion: 2,
                // firstQuestion6: 1,
                noDuplicateQuestions: [24, 39],
                goToThirdAnswers: [417, 420],
                secondQuestion: 340,
                firstQuestion: 339,
                showCompleteProp: false,
                q17Id: 301,
                skipQ17Answer: 459,
                q16Id: 297,
                skipQ16Answer: 369,
                q15id: 296,
                q16q17Questions: [
                    298,
                    299,
                    300,
                    302,
                    303,
                    304
                ],
                q17Questions: [
                    302,
                    303,
                    304
                ],
                q16Questions: [
                    298,
                    299,
                    300,
                ],
                Q26id: 343,
                Q27id: 344,
                askQ27Answers: [
                    418,
                    419
                ]
            };
        },

        mounted() {
            this.questionsWithAnswersData = this.questionsWithAnswers;
            this.questionsWithOtherText = this.questionsWithOther;
            this.newPollingData = this.newPolling;
            this.fillQuestionsWithUniqueAnswers();
        },

        computed: {
            showCompleteTest() {
                let res = true;
                for (let key in this.questionsWithAnswersData) {
                    res = res && this.isAnsweredById(key);

                    // if (this.hasSpecialAnswer(key)) {
                    //     return true;
                    // }

                    if  (!res) {
                        return false;
                    }
                }
                return res;
            },
        },

        methods: {
            hasSpecialAnswer(key) {
                if (!this.questionsWithAnswersData.hasOwnProperty(key)) {
                    return false;
                }

                if (this.specialAnswerIds.indexOf(this.questionsWithAnswersData[key]) !== -1 ||
                    ((this.questionsWithAnswersData[key] instanceof Array) &&
                        this.specialAnswerIds.diff(this.questionsWithAnswersData[key]).length < this.specialAnswerIds.length
                    )
                ) {
                    return true;
                }

                return false;
            },
            fillQuestionsWithUniqueAnswers() {
                this.questions.forEach((item) => {
                    if (this.inNoDuplicateQuestions(item.id)) {
                        if (item.children.length > 0) {
                            let obj = {};
                            item.children.forEach((children) => {
                                if (this.questionsWithAnswersData[children.id] !== 0) {
                                    obj[this.questionsWithAnswersData[children.id]] = children.id;
                                }
                            });
                            this.$set(this.questionsWithUniqueAnswers, item.id, obj);
                        }
                    }
                });
            },
            inNoDuplicateQuestions(id) {
                return this.noDuplicateQuestions.indexOf(id) !== -1;
            },
            inGoToThirdAnswers(id) {
                return this.goToThirdAnswers.indexOf(id) !== -1;
            },
            hideSecondQuestion(id) {
                return !(id === this.secondQuestion && this.inGoToThirdAnswers(this.questionsWithAnswersData[this.firstQuestion]));
            },
            hideQ16(id) {
                return !(id === this.q16Id && this.doSkipQ16Q17());
            },
            hideQ17(id) {
                return !(id === this.q17Id && this.doSkipQ17());
            },
            hide16Question(id) {
                return !(id === this.q16Id && this.doSkipQ16());
            },
            isComplete(quest) {
                if (this.isAnsweredById(quest.id)) {
                    return true;
                }
                if (quest.children.length > 0){
                    return quest.children.every(item => this.isAnsweredById(item.id));
                }
                return false;
            },

            isAnsweredById(key) {
                if (!this.questionsWithAnswersData.hasOwnProperty(key)) {
                    return false;
                }

                if (
                    this.questionsWithAnswersData[key] === 0 ||
                    ((this.questionsWithAnswersData[key] instanceof Array) &&
                        this.questionsWithAnswersData[key].length === 0)
                ) {
                    return false;
                }

                return true;
            },

            isAnswerDisabled(quest, answer) {
                if (this.questionsWithUniqueAnswers[quest]) {
                    if (this.questionsWithUniqueAnswers[quest][answer]) {
                        return true
                    }
                    return false;
                }
                return false;
            },

            answerChanged(quest) {
                this.showCompleteProp = this.hasSpecialAnswer(quest.id);
                if (
                        this.otherAnswerIds.indexOf(this.questionsWithAnswersData[quest.id]) !== -1 ||
                        (
                            (this.questionsWithAnswersData[quest.id] instanceof Array) &&
                            (
                                this.otherAnswerIds.diff(this.questionsWithAnswersData[quest.id]).length < this.otherAnswerIds.length
                                // this.questionsWithAnswersData[quest.id].indexOf(this.otherAnswerId) !== -1 ||
                                // this.questionsWithAnswersData[quest.id].indexOf(this.yesAnswerId) !== -1
                            )
                        )
                    ) {
                    if (!this.questionsWithOtherText.hasOwnProperty(quest.id)) {
                        this.$set(this.questionsWithOtherText, quest.id, null);
                    }
                } else {
                    this.$delete(this.questionsWithOtherText, quest.id)
                }
                this.delOrSetSecondQuestion();
                this.delOrSetQ16Q17();
                this.delOrSetQ27();
                // this.delOrSetQ17();
            },

            subQuestAnswerChanged(mainQuestId, child) {
                this.addAnswerToUnique(mainQuestId, child.id);
                this.answerChanged(child);
            },

            addAnswerToUnique(mainQuestId, childId) {
                if (!this.questionsWithUniqueAnswers[mainQuestId]) {
                    return;
                }
                this.deleteUniqueAnswer(mainQuestId, childId, false);
                this.$set(this.questionsWithUniqueAnswers[mainQuestId], this.questionsWithAnswersData[childId], childId);
            },

            deleteUniqueAnswer(mainQuestId, childId, deleteFromQuestionsWithAnswers = true) {
                for (let key in this.questionsWithUniqueAnswers[mainQuestId]) {
                    if (this.questionsWithUniqueAnswers[mainQuestId][key] &&
                        this.questionsWithUniqueAnswers[mainQuestId][key] === childId) {
                        this.$delete(this.questionsWithUniqueAnswers[mainQuestId], key);
                        if (deleteFromQuestionsWithAnswers) {
                            this.questionsWithAnswersData[childId] = 0;
                        }
                    }
                }
            },

            delOrSetSecondQuestion() {
                if (this.inGoToThirdAnswers(this.questionsWithAnswersData[this.firstQuestion])) {
                    this.$delete(this.questionsWithAnswersData, this.secondQuestion);
                } else {
                    this.$set(this.questionsWithAnswersData, this.secondQuestion, this.questionsWithAnswersData[this.secondQuestion] || 0);
                }
            },
            doSkipQ17() {
                if (this.doSkipQ16Q17()) {
                    return true;
                }
                let filtered = this.q16Ids.filter((item) => this.questionsWithAnswersData[item] === this.skipQ17Answer);
                return filtered.length === this.q16Ids.length;
            },
            delOrSetQ17() {
                if (this.doSkipQ17()) {
                    this.q17Questions.forEach((item) =>{
                        this.$delete(this.questionsWithAnswersData, item);
                    });
                } else {
                    this.q17Questions.forEach((item) =>{
                        this.$set(this.questionsWithAnswersData, item, this.questionsWithAnswersData[item] || 0);
                    });
                }
            },
            doSkipQ16Q17() {
                return this.questionsWithAnswersData[this.q15id] === this.skipQ16Answer;
            },
            doSkipQ27() {
                // this.specialAnswerIds.diff(this.questionsWithAnswersData[key]).length < this.specialAnswerIds.length
                // return this.questionsWithAnswersData[this.Q26id].diff(this.askQ27Answers).length > 0;
                return this.askQ27Answers.diff(this.questionsWithAnswersData[this.Q26id]).length === this.askQ27Answers.length;
            },
            delOrSetQ16Q17() {
                if (this.doSkipQ16Q17()) {
                    this.q16q17Questions.forEach((item) => {
                        this.$delete(this.questionsWithAnswersData, item);
                    });
                } else if (this.doSkipQ17()) {

                    this.q17Questions.forEach((item) => {
                        this.$delete(this.questionsWithAnswersData, item);
                    });
                } else {
                    this.q16q17Questions.forEach((item) => {
                        this.$set(this.questionsWithAnswersData, item, this.questionsWithAnswersData[item] || 0);

                    })
                }
            },
            delOrSetQ27() {
                if (this.doSkipQ27()) {
                        this.$delete(this.questionsWithAnswersData, this.Q27id);
                } else {
                        this.$set(this.questionsWithAnswersData, this.Q27id, this.questionsWithAnswersData[this.Q27id] || 0);
                }
            },

            nextQuestion() {
                let next = +this.activeQuestion + 1;
                if (next === 2 && this.inGoToThirdAnswers(this.questionsWithAnswersData[this.firstQuestion])) {
                    next++;
                }
                if (next === 16 && this.doSkipQ16Q17()) {
                    next+=2;
                }
                if (next === 17 && this.doSkipQ17()) {
                    next++;
                }
                if (next === 27 && this.doSkipQ27()) {
                    next++;
                }
                if (this.questions.length >= next) {
                    this.activeQuestion = next + '';
                    this.handleClick();
                }
                window.scrollTo(0,0);
            },

            handleClick() {
                axios.post('/postAnswer', {
                    polling: this.questionsWithAnswersData,
                    others: this.questionsWithOtherText,
                });
            },

            postPollingResult() {
                axios.post('/', {
                    polling: this.questionsWithAnswersData,
                    others: this.questionsWithOtherText,
                }).then(
                    (response) => {
                        window.location = '/';
                    }
                ).catch((error) => {
                    this.$notify({
                        title: 'Ошибка',
                        message: error.response.data.error,
                        type: 'error'
                    });
                });
            },
        }
    }
</script>
